* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.title {
	color: var(--on1);
	font-family: var(--font1);
	font-weight: bold;
	letter-spacing: 1px;

	align-self: center;

	margin: 0.5rem;
}

#comments-section {
	height: 100%;

	display: flex;
	justify-content: stretch;
	align-items: stretch;
	flex-direction: column;
}

#comments-card {
	background-color: var(--surface);

	display: flex;
	flex-direction: column;
}

/* - comment - */

.comment {
	background-color: var(--color1-light);
	border: 1px white solid;
	border-radius: 0.8rem;

	list-style: none;

	margin: 8px 15px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.comment > p {
	color: var(--on1);
	font-size: 1.5ch;
	letter-spacing: 1px;
	font-family: Georgia;
	width: 90%;
	height: 80%;

	overflow: hidden;

	margin: 10px;
}

.comment > p::before {
	content: open-quote;
}

.comment > p::after {
	content: close-quote;
}

.profile-zone {
	width: 180px;
}

.profile-zone .profile-photo {
	height: 25px;
	width: 25px;
	border-radius: 50%;

	margin: 8px;
}

.profile-zone a {
	background-color: var(--color2);
	border-radius: 0.8rem 0 0 0.8rem;

	text-decoration: none;
	color: var(--on3);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.profile-zone a:hover {
	text-decoration: none;
	color: var(--on3);
}

.profile-zone .user {
	margin: 5px 10px;
	color: var(--on3);
	font-style: italic;
}

/* RATING */

.rating {
	height: 100%;
	width: 30px;

	font-size: 0.8rem;

	transform: rotate(90deg);

	display: flex;
	justify-content: center;
	align-items: center;
}

.stars-outer {
	position: relative;
	display: inline-block;
}

.stars-inner {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
}

.icon::before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 2px;
	font-size: 90%;
}

.stars-outer::before {
	content: "\f005 \f005 \f005 \f005 \f005";
	font-family: "FontAwesome";
	font-weight: 900;
	color: #ccc;
}

.stars-inner::before {
	content: "\f005 \f005 \f005 \f005 \f005";
	font-family: "FontAwesome";
	font-weight: 900;
	color: #f8ce0b;
}
