* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.top-section > p,
.bottom-section > p,
#bottom-card > p {
	color: var(--on1);
	font-family: var(--font1);
	font-weight: bold;
	letter-spacing: 1px;

	margin: 0;
}

#center-section {
	background-color: var(--background);
}

#center-section .row {
	margin: 0;

	width: 100vw;

	display: flex;
	justify-content: center;
	align-items: center;
}

#center-section .col-sm {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* - left-card -  */

#left-card {
	width: 70%;
	min-width: 350px;
	height: 80%;
	min-height: 380px;

	margin: 50px 25px;
	padding: 0;

	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: column;
}

/* - right-card -  */

#right-card {
	width: 70%;
	min-width: 350px;
	height: 80%;
	min-height: 380px;

	margin: 50px 25px;
	padding: 0;

	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: column;
}

/* valoration */

.valoration {
	height: 100%;
	width: 30px;

	font-size: 1.5rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* - bottom-card -  */

#bottom-card {
	background-color: var(--color1-light);
	box-shadow: 0px 2px 8px 2px rgba(44, 44, 44, 0.5),
		2px 0px 8px 2px rgba(44, 44, 44, 0.5);

	width: 83.5%;
	min-width: 350px;
	height: 30%;
	min-height: 200px;

	margin: 50px 0;
	padding: 3%;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}

#bottom-card > p {
	width: 90%;
}

#bottom-card > .button-container {
	position: relative;
	padding-left: 70%;
}

/* --- top-sections --- */

.top-section {
	background-color: var(--color1-light);
	box-shadow: 0px 2px 8px 2px rgba(44, 44, 44, 0.5),
		2px 0px 8px 2px rgba(44, 44, 44, 0.5);

	margin: 0;
	height: 50px;

	font-size: 2.8ch;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

#title-card > p {
	width: 80%;
}

#title-card > a {
	width: 20%;
	min-width: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#title-card .avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;

	border: 2px solid var(--on1);
}

/* --- bottom-sections --- */

.bottom-section {
	background-color: var(--color1-light);
	box-shadow: 0px 2px 8px 2px rgba(44, 44, 44, 0.5),
		2px 0px 8px 2px rgba(44, 44, 44, 0.5);

	margin: 0;
	height: 300px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#comments-container {
	display: flex;
	justify-content: stretch;
	align-items: stretch;

	overflow-y: scroll;
}

#comments-container > #new-com-button {
	background-color: var(--color2);

	position: absolute;
	bottom: -15px;
	right: 20%;
}

#photo-card {
	overflow: hidden;
}

.full-photo {
	max-width: 250px;
	max-height: 250px;
	margin: 1rem;
}

#bottom-card .date {
	color: rgb(224, 224, 224);
	font-weight: normal;
}

#errors-new-com,
#errors-mod-com {
	padding: 20px;
}
