* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	margin: 0;

	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
}

.main-title {
	background-color: var(--color2-light);
	color: var(--on1);
	font-size: 3ch;

	padding: 10px;
	padding-left: 60px;
	width: 350px;

	position: absolute;
	left: 0;
	top: 80px;
}

#title-box {
	background-color: var(--background);
	height: 100px;
}

#search-section {
	background-color: var(--color1-light);

	min-height: 70px;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

#search-form {
	width: 90%;

	flex-wrap: wrap;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.form-check {
	margin: 10px 10px;
}

#search-text-box {
	margin: 15px;
	min-width: 200px;
	max-width: 300px;
}

#search-bar {
	width: 40%;

	display: flex;
	justify-content: center;
	align-items: center;
}

#checkbox-section {
	color: var(--on1);
	letter-spacing: 1px;

	margin-left: 50px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* #navbar-search::after {
	content: "Nature";

	color: var(--on1);
	background-color: var(--surface);
	font-size: 1.5rem;

	width: 70%;
	padding: 10px;

	position: absolute;
	bottom: -60px;
	left: 12%;
} */

form {
	min-width: 300px;
	width: 70%;
}

#form-dropdown {
	min-width: 100px;
	width: 70%;
}

option {
	display: flex;
	justify-content: space-around;
	width: 90%;
}

/* TITLE */

#container-background {
	background-color: var(--background);
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

#title-container {
	color: var(--on2);
	background-color: var(--surface);
	font-size: 1.5rem;

	height: 60px;
	width: 70%;
	padding: 10px;

	margin: 30px;
	margin-bottom: 0;
}

#title {
}
