@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato&display=swap');

:root {
	--color1: #0003b1;
	--color1-light: #4b1aec;
	--color1-dark: #0a009b;

	--color2: #ff004c;
	--color2-light: #ff0e6a;
	--color2-dark: #c00060;

	--background: #f9f9f9;
	--surface: #33333333;
	--error: #b00020;

	--on1: #ffffff;
	--on2: #000000;
	--on3: 	color: rgb(224, 224, 224);
	--on-background: #000000;
	--on-surface: #000000;
	--on-error: #ffffff;

	--font1: 'Lato', sans-serif;
	--font2: 'Bree Serif', serif;
}

img {
	object-fit: cover;
}
