* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#scrollspy-bar {
	background-color: var(--surface);
	font-weight: bold;
	margin-top: 80px;
	margin-bottom: 0;
	justify-content: space-around;
}

#scrollspy-bar a {
	text-decoration: underline;
}

.main-title {
	background-color: var(--color2-light);
	color: var(--on1);
	font-size: 3ch;

	padding: 10px;
	padding-left: 60px;
	width: 350px;

	position: absolute;
	left: 0;
	top: 80px;
}

#center-section {
	background-color: var(--background);

	width: 100vw;
	padding: 2rem 0;
}

#center-section .row {
	border-radius: 0.5rem;

	margin: 5vw;

	width: 90vw;

	counter-reset: podium-position;
}

#center-section .col-md {
	background-color: var(--surface);
	border-radius: 0.5rem;

	padding: 0;
	margin: 2%;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.mini-card {
	background-color: var(--color1-light);
	border: none;

	width: 130px;
	height: 130px;

	margin: 0.8rem;

	display: flex;
	justify-content: center;
	align-items: center;

	transform: scale(1);

	transition: transform ease-out 170ms, border ease-out 170ms;
}

.mini-card:hover {
	transform: scale(1.15);
	border: 2px solid var(--color2-light);
}

#center-section .col-md::before {
	counter-increment: podium-position;
	content: counter(podium-position);

	color: var(--on1);

	background-color: var(--gray);
	border-radius: 50%;

	height: 30px;
	width: 30px;
	padding: 3px;
	margin: 0.5rem;

	align-self: flex-start;

	display: flex;
	justify-content: center;
	align-items: center;
}

.punctuation,
.comments,
.followers {
	color: var(--on2);
	margin: 1rem 2rem;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

.mini-card p {
	color: var(--on1);
	font-weight: bold;
	text-decoration: none;
	text-align: center;

	margin: 0;

	width: 90%;
	word-wrap: break-word;
}

/* --- cards --- */

.card-title {
	background-color: var(--color2);
	font-family: var(--font1);
	color: var(--on2);
	font-weight: bold;

	width: 100%;
	padding: 0.5rem;
	margin: 0.8rem;
	margin-bottom: 0;
}

/* - photo-card - */

.photo-card {
	display: flex;
	justify-content: center;
}

.card-image {
	width: 130px;
	height: 100%;
}

.photo-card .avatar {
	box-shadow: 0px 2px 8px 2px rgba(44, 44, 44, 0.4),
		2px 0px 8px 2px rgba(44, 44, 44, 0.4);

	width: 30px;
	height: 30px;
	border-radius: 50%;

	border: 1px solid var(--on1);

	position: absolute;
	top: 12%;
	left: 12%;
}

.photo-card .big-avatar {
	box-shadow: 0px 2px 8px 2px rgba(44, 44, 44, 0.4),
		2px 0px 8px 2px rgba(44, 44, 44, 0.4);

	width: 80px;
	height: 80px;
	border-radius: 50%;

	border: 2px solid var(--on1);

	position: absolute;
	top: 19%;
	left: 19%;
}

/* - SECTIONS - */

#section-muc {
}

#section-bpp {
}

#section-mcp {
}

#section-mfu {
}

#section-bpu {
}

/* --- */

#section-bpp .comments,
#section-mcp .punctuation,
#section-mfu .comments,
#section-bpu .followers {
	display: none;
}

#section-mfu .card-image,
#section-bpu .card-image {
	opacity: 0.7;
}
