* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* FORMS */

.form-label {
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: -3px;

	width: 163px;
	height: 20px;

	color: var(--font1-color);
	font-family: var(--font1);
	font-weight: 550;
}

.form-input {
	font-family: var(--font1);

	height: 25px;
	width: 200px;

	margin: 4px;
	padding: 5px 8px;

	border: 0px solid white;
	border-radius: 4px;

	transition: 0.02s ease;
}

.form-input:focus {
	border: 2px solid var(--color3);
	outline: none;

	background-color: #f3f3f3;
}

.form-input:hover {
	border: 2px solid var(--color3);
	outline: none;

	background-color: #f3f3f3;
}

/* - buttons - */

.button {
	color: var(--font2-color);
	font-family: var(--font2);
	font-weight: bold;

	margin: 20px;

	width: 65px;
	height: 25px;
	align-self: center;

	border-radius: 10px;
	border: none;

	transition: ease 0.25s;
	cursor: pointer;
}

.button:hover {
	box-shadow: 0px 0px 5px black;
	color: white;
	background-color: var(--color3);

	width: 80px;
}

.button:focus {
	box-shadow: inset 0px 0px 5px black;

	border: none;
	outline: none;
}

.large-button {
	width: 130px;
}

.large-button:hover {
	width: 135px;
}

#delete-button {
	color: white;
	background-color: tomato;
}

#delete-button {
	background-color: rgb(200, 47, 20);
}

/* file-upload */

.form-control {
	margin-top: 10px;

	font-size: 10pt;
	font-family: var(--font2);
	color: var(--font2-color);
}
