body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #e8e8e8;
	margin: 0;
}

header {
	background: #092327;
	width: 100%;
}

* {
	box-sizing: border-box;
}

.menu_photo {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu {
	position: fixed;
	background-color: #092327;
	height: 8%;
}

.menu_item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu_item:hover {
	/*background: rgba(0, 0, 0, 0.1);*/
	background: orange;
}

/* MENU_FEED */

.menu_feed {
	float: left;
	width: 5%;
	height: 100%;

	border-right: 1px solid white;
}

/* MENU_PROFILE */

.menu_profile {
	float: right;
	width: 5%;
	height: 8%;

	border-left: none;

	pointer-events: none;
	touch-action: none;
	position: fixed;
	right: 3px;
	z-index: 900;
}

/* MENU_RIGHT */

.menu_right {
	width: 84%;
	height: 100%;

	float: right;
}

.menu_right ul {
	text-align: center;
	margin: 0;
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	height: 100%;
}

.menu_right ul li {
	border-left: 1px solid white;
	min-width: 100px;
	width: 20%;
}

.menu_text {
	text-decoration: none;
	color: white;
	height: 100%;
}

/* MENU_LOGIN */

#menu_login {
	padding-right: 20%;
	padding-left: 5%;
}
