* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#header a {
	text-decoration: none;
	font-family: var(--font1);
	color: var(--font1-color);
}

/* ---- HEADER ---- */

#header {
	background: var(--background1);
	box-shadow: 0px 3px 15px black;

	height: 10vh;
	width: 100vw;
	z-index: 100;

	position: relative;
	top: 0;

	display: grid;
	grid-template-rows: 10vh auto auto;
	grid-template-columns: auto;
	justify-content: space-between;
	align-items: center;
}

.menu_feed {
	border: none;
	border-radius: 50%;

	height: 10vh;

	grid-column: 1 / 2;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu_right {
	grid-column: 3 / 4;

	height: 10vh;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.menu_text {
	border-left: 2px solid var(--font1-color);

	height: 10vh;
	width: 10vw;
	min-width: 100px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.menu_text p {
	font-weight: bold;
	color: var(--font1-color);
}

.menu_text:hover {
	background-color: var(--color3);
}

#menu_login {
	border-left: 2px solid var(--font1-color);

	width: auto;
	min-width: 50px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#menu_login p {
	padding: 0 30px;
}

#menu_login .profile-photo {
	width: 8vh;
	height: 8vh;

	margin: 2vh;
	border-radius: 50%;
}

.logo {
	width: 8vh;
	height: 8vh;

	margin: 2vh;
	border-radius: 50%;
}

.logo:hover {
	box-shadow: 0px 0px 10px var(--color3);
}
