:root {
	--background1: #1c1c33;
	--background2: #070725;
	--background3: #e8e8e8;
	--background4: #e8e8e86e;

	--color1: #092327;
	--color2: #092327;
	--color3: #ff2a6d;

	--color1-dark: orange;
	--color2-dark: orange;

	--font1: "Lato", Helvetica;
	--font2: "Lato", Helvetica;

	--font1-color: white;
	--font2-color: #020224;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* CENTER SECTION */

#center-section {
	background-color: var(--background2);

	height: 100%;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/* - upper-card -  */

#upper-card {
	background-color: var(--background4);
	box-shadow: 0px 0px 25px black;

	width: 80%;
	min-width: 350px;
	height: 100%;
	min-height: 350px;

	display: flex;
	justify-content: center;
	align-items: column;
}

.login-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#upper-card p {
	color: var(--font1-color);
	font-family: var(--font1);
}

/* - bottom-card -  */

#bottom-card {
	background-color: var(--background4);
	box-shadow: 0px 0px 25px black;

	width: 80%;
	min-width: 350px;
	height: 100%;
	min-height: 350px;

	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

#bottom-card p {
	color: var(--font1-color);
	font-family: var(--font1);
}
