:root {
	--color1: #0064ff;
	--color1-light: #6b91ff;
	--color1-dark: #003bcb;

	--color2: #ff0080;
	--color2-light: #ff5daf;
	--color2-dark: #c50054;

	--background: #f9f9f9;
	--surface: #33333333;
	--error: #b00020;

	--on1: #ffffff;
	--on2: #000000;
	--on-background: #000000;
	--on-surface: #000000;
	--on-error: #ffffff;

	--font1: "Lato", Helvetica;
	--font2: "Lato", Helvetica;
}
