:root {
	--background1: #1c1c33;
	--background2: #070725;
	--background3: #e8e8e8;
	--background4: #e8e8e86e;

	--color1: #092327;
	--color2: #092327;
	--color3: #ff2a6d;

	--color1-dark: orange;
	--color2-dark: orange;

	--font1: "Lato", Helvetica;
	--font2: "Lato", Helvetica;

	--font1-color: white;
	--font2-color: #020224;
}
